@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="app">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    @Styles.Render("~/Bundles/Main/libs/css")
    @Styles.Render("~/Bundles/Main/metronic/css")
    @Styles.Render("~/Bundles/Area/css")
    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<body ng-controller="main.views.layout as vm" class="m-page--fluid  m--skin-light2 m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--fixed m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default page-on-load">
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="m-spinner m-spinner--brand m-spinner--sm"></div>
        <div class="m-spinner m-spinner--primary m-spinner--sm"></div>
        <div class="m-spinner m-spinner--success m-spinner--sm"></div>
        <div class="m-spinner m-spinner--info m-spinner--sm"></div>
        <div class="m-spinner m-spinner--warning m-spinner--sm"></div>
        <div class="m-spinner m-spinner--danger m-spinner--sm"></div>
    </div>
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <header data-ng-include="'~/App/main/views/layout/header.cshtml'" data-ng-controller="main.views.layout.header as vm" class="m-grid__item m-header" data-minimize-offset="200" data-minimize-mobile-offset="200"></header>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
                <i class="la la-close"></i>
            </button>
            <div id="m_aside_left" data-ng-include="'~/App/main/views/layout/sidebar.cshtml'" data-ng-controller="main.views.layout.sidebar as vm" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
            </div>
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div ui-view class="fade-in-up">
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Bundles/Main/libs/js")
    @Html.IncludeScript("~/Scripts/i18n/angular-locale_zh-cn.js")
    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    @Scripts.Render("~/Bundles/Main/metronic/js")
    @Scripts.Render("~/Bundles/Area/js")
</body>
</html>